@import "@/rules.scss";

.comeBackArrow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 50%;
  color: $text-color;
  background: rgba(255, 255, 255, 0.3);

  &:hover {
    background-color: rgba(200, 200, 200, 0.3);
  }
}
