@import "@/rules.scss";

.tooltipWrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  z-index: 5;
}

.tooltip {
  position: absolute;
  top: 0px;
  padding: 5px 10px;

  background-color: #cfcfcf;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #000;

  font-size: 16px;
  text-align: center;

  z-index: 4;

  transition: opacity 0.35s ease-out;

  margin-top: -64px;
  width: 80vw;
  left: -35vw;
  @include tablet {
    width: 600px;
    left: -275px;
  }
}
