$mobileBreakpoint: 576px;
$tabletBreakpoint: 744px;

@mixin tablet {
  @media only screen and (min-width: $tabletBreakpoint) {
    @content;
  }
}

@mixin dark() {
  @media (prefers-color-scheme: dark) {
    @at-root #{selector-nest(':root:not([data-theme=light]):not([data-theme=dark])', &)} {
      @content;
    }
  }
  @at-root #{selector-nest(':root[data-theme=dark]', &)} {
    @content;
  }
}

$wood-texture-url: url("/wooden.jpg");
$primary-color: #b58863;
$secondary-color: #d9c9b0;
$text-color: #333333;
